# python interface mysl

In [1]:
import mysql.connector

Establish the connection to the database
We can connect to the MySQL server using the connect () method.

In [2]:
pip install --upgrade mysql-connector-python

Collecting mysql-connector-pythonNote: you may need to restart the kernel to use updated packages.

  Using cached mysql_connector_python-9.0.0-cp39-cp39-win_amd64.whl (14.3 MB)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0

In [2]:
mydb = mysql.connector.connect(host = "localhost",user = "root",password = "adwaithmp")
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000019F11AD4A00>

In [3]:
if mydb.is_connected():
    print("connected")

connected

In [4]:
cur=mydb.cursor()

In [5]:
mydb.database = "book"

In [11]:
cur.execute("select * from department")

In [8]:
cur.fetchall()

[(1, 'human resourse'),
 (2, 'IT'),
 (3, 'sales'),
 (4, 'marketing'),
 (1, 'human resourse'),
 (2, 'IT'),
 (3, 'sales'),
 (4, 'marketing'),
 (1, 'human resourse'),
 (2, 'IT'),
 (3, 'sales'),
 (4, 'marketing')]

In [12]:
for i in cur.fetchall():
    print(i)

(1, 'human resourse')
(2, 'IT')
(3, 'sales')
(4, 'marketing')
(1, 'human resourse')
(2, 'IT')
(3, 'sales')
(4, 'marketing')
(1, 'human resourse')
(2, 'IT')
(3, 'sales')
(4, 'marketing')

In [13]:
mydb.close

In [21]:
import mysql.connector
con = mysql.connector.connect(host = "localhost",user = "root",password = "adwaithmp")
cur=con.cursor()
cur.execute("use book")
cur.execute("select * from department")
a=cur.fetchall()
for i in a:
    print(i)
con.close()

(1, 'human resourse')
(2, 'IT')
(3, 'sales')
(4, 'marketing')
(1, 'human resourse')
(2, 'IT')
(3, 'sales')
(4, 'marketing')
(1, 'human resourse')
(2, 'IT')
(3, 'sales')
(4, 'marketing')

In [23]:
import mysql.connector
con = mysql.connector.connect(host = "localhost",user = "root",password = "adwaithmp",database = "book")
cur=con.cursor()
cur.execute("select * from department")
cur.fetchall()
con.close()

In [ ]:
#create database

In [28]:
import mysql.connector
con = mysql.connector.connect(host = "localhost",user = "root",password = "adwaithmp")
cur= con.cursor()
cur.execute("create database datao3")
cur.execute("use datao3")
cur.execute("create table hi1(id int,name varchar(50))")
cur.execute("insert into hi1 values(1,'adhu'),(2,'jagan') ")
cur.execute("select * from hi1")
cur.fetchall()

[(1, 'adhu'), (2, 'jagan')]

In [30]:
con.commit()
con.close()