# LOOPS

In [8]:
a=[1,2,3,1,2,4,5,3,2,1,4,5,6]
print(a)
c=a.copy()
for i in a:
    if (i==1)|(i==2):
        c.remove(i)
c

[1, 2, 3, 1, 2, 4, 5, 3, 2, 1, 4, 5, 6]

[3, 4, 5, 3, 4, 5, 6]

In [11]:
a=[1,2,3,1,2,4,5,3,2,1,4,5,6]
print(a)
b=[1,2]
c=a.copy()
for i in a:
    if i in b:
        c.remove(i)
c

[1, 2, 3, 1, 2, 4, 5, 3, 2, 1, 4, 5, 6]

[3, 4, 5, 3, 4, 5, 6]

In [14]:
d=[i for i in a if i not in b]
d

[3, 4, 5, 3, 4, 5, 6]

In [45]:
a=[1,2,3,1,4,5,3,2,3,1,4,5,6]
print(a)
b=[1,3]
c=[]
d=[i for i in a if i not in b]
print(d)
j=0
for i in d:
    if i==2:
        c.append(j)
    j=j+1
c

[1, 2, 3, 1, 4, 5, 3, 2, 3, 1, 4, 5, 6]
[2, 4, 5, 2, 4, 5, 6]

[0, 3]

In [ ]:
#try

In [60]:
z=[2,4,5,2,4,5,6]
print(z)
for i in z:
    if(i==2):
        x=z.index(i)
        
        
x

[2, 4, 5, 2, 4, 5, 6]

0

In [ ]:
#try over

In [63]:
a=[2,2,3,5,6,1,4,3,1,2,7]
print(a)
b=[]
for i in a:
    if(i%2==1):
        b.append(i)
b

[2, 2, 3, 5, 6, 1, 4, 3, 1, 2, 7]

[3, 5, 1, 3, 1, 7]

In [ ]:
#home work

In [81]:
a=[]
for i in range(1000):
    m=i*i
    if m%3==0 & m%9==0:
        if m<=1000:
            a.append(m)
a

[0, 9, 36, 81, 144, 225, 324, 441, 576, 729, 900]

In [95]:
alist=[123,['zara','abc',[1,2,3]],'zara','abc',123,'abc',123,['abc',123,'abc']]
def len_nested(a):
    j=0
    for i in a:
        if type(i)==list:
            j+=len_nested(i)
        else:
            j=j+1
    return j

In [96]:
len_nested(alist)

14

In [ ]:
#Using 'for' loop, create a list of square roots which are/ divisible by 3, of first 500 natural numbers.

In [122]:
a=[]
for i in range(501):
    j=i*i
    if j<500:
        if i%3==0:
            a.append(i)
a

[0, 3, 6, 9, 12, 15, 18, 21]

In [143]:
#work

In [166]:
dict={'list_1':list(range(0,3)),'list_2':list(range(3,6)),'list_3':list(range(6,9))}
dict
a=dict.values()
for i in a:
    print(i[1])

1
4
7

In [178]:
dict1={'list_1':list(range(1,6)),
       'list_2':list(range(6,11)),
       'list_3':list(range(11,16)),
       'list_4':list(range(16,21)),
       'list_5':list(range(21,26))}
print(dict1)
#Call 1,7,13,19,25
a=dict.values()

for i in range(6):
    print(i)

{'list_1': [1, 2, 3, 4, 5], 'list_2': [6, 7, 8, 9, 10], 'list_3': [11, 12, 13, 14, 15], 'list_4': [16, 17, 18, 19, 20], 'list_5': [21, 22, 23, 24, 25]}
0
1
2
3
4
5

In [36]:
a=[1,2,3,4,5,6]
b=[7]
for i in a:
    i != b    
print("sorry")

sorry